/* Universal Selectors */

:root {
	--tan: #e8ded0;
	--mustard: #dac58b;
	--gin: #e0eae4;
	--grey: #2c3548;
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
} 

/* Element Selectors */


/* shows the same text size in all browsers and smooth scolling for the entire html body */
html {
	font-size: 62.5%;
    scroll-behavior: smooth;
}


/* General font style and background color with a flex attribute for the body section */
body {
    font-family: Helvetica, Arial, sans-serif;
	color:#e8ded0;
    background-color:rgb(51, 74, 107);
    display: flex;
    flex-wrap: wrap;
    word-break: keep-all
    
}

/* fixed header style */
header {
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
}

/* main section styling from main header to footer */
main {
    margin-top: 100px;
}

/* nav-bar and header font styling with orientation */
nav a {
	color: var(--tan);
	font-weight: 700;
	line-height: 1.1;
    margin-left: 3.5rem;
}

h1, nav, footer {
    font-size: 2rem;
}

    /* header and nav-bar color transition styling */
h1:hover,
nav a:hover {
    color: var(--mustard);
    transition: .3s;
}

h2, h5 {
    font-size: 4rem;
    padding-bottom: 15px;
}
h5, .adjust {
    margin-left: 13rem;
}
h3 {
    font-size: x-large;
}

p {
    font-size: 2rem;
    color: var(--tan);
}

/* contact section styling with text input function */

    /* contact for orientation */
form {
    padding: 25px 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.75rem;
}


    /* input area and text styling with page orientation */
input[type=text], textarea {
    width: 50%;
    padding: 12px;
    border: 3px solid var(--mustard);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical horizontal;
    font-size: 1.5rem;
}

    /* input submit button and text styling with page orientation */
input[type=submit] {
    background-color: rgb(171, 168, 168);
    color: var(--tan);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 17%;
    font-size: 1.5rem;
}

   /* input section shadow styling */
input[type=text], textarea, input[type=submit] {
    color: black;
    box-shadow: 5px 5px 10px; ;
}

    /* input submit button color transition styling */
input[type=submit]:hover {
    background-color: var(--mustard);
    transition: .2s;
}

/* fized postion footer styling with side note orientation*/
footer {
    position: fixed; 
    bottom: 0px;
    width: 100%;
    padding: 2rem 9%;
    color: var(--tan);
}

aside {
        padding: 1.5rem;
        text-align: center;
}

/* Class Selector */



/* introduction article font styling and page orientaion */
.personal-intro {
    max-width: 50rem;
}

.personal-intro h2 {
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.personal-intro h2, .personal-intro h4 {
    padding-top: 3rem;
}

.personal-intro p {
    margin: 5% 0 20%;
}

.start { 
    font-size: 2rem;
    font-weight: 300;
}
.image1 {
    padding-right: 25px;
}

    /* image1 size styling and display*/
.image1 img {
    width: 370px;
    height: 500px;
    transition: .7s ease;
    color: black;
    border: 3px solid var(--mustard);
    border-radius: 20px;
    opacity: 1;
    background-color: #c8c8c8;
    box-shadow: 0 5px 1rem black;
    position: relative;
    display: flex;
}


/* second section and image styling */
.me p {
    padding-top: 7rem;
}
    /* image2 orientation */
.image2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* image2 styling */
.image2 img {
    width: 350px;
    height: 200px;
    border: 3px solid var(--mustard);
    box-shadow: 5px 5px 10px black;
    border-radius: 100px;
    opacity: 0.75;
    transition: .7s ease; 
}
    /* image2 scale up animation */
.image2 img:hover {
    transform: scale(1.2);
}


/* exerpience section display and image styling */
.skill {
    padding-top: 10px;
    margin-bottom: 30rem;
}

.skill h2, .me h2, .me p {
    text-align: center;
    margin: 60px 7rem;
}

    /* experience tab orientation */
.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
    margin: 20px 20rem;
    transition: .9s ease;
}
    /* experience tab styling */
.skill-container .skill-ex {
    position: relative;
    border-radius: 20px;
    border: 4px solid var(--mustard);
    box-shadow: 0 5px 1rem black;
    background-color: #c8c8c8;
    overflow: hidden;
    display: flex;
    transition: .8s ease;
}
    /* image size and opacity styling */
.skill-ex img {
    width: 60rem;
    height: 300px;
    opacity: 0.7;
}
    /* experience tab gradient styling, display, and animation */
.skill-ex .skill-info {
     position: absolute;
     bottom: 3;
     left: 3;
     width: 100%;
     height: 100%;
     background: linear-gradient(
		rgba(42, 70, 101, 0.805) 70%,
		var(--mustard) 100%);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     padding: 6 6rem;
     transform: translateX(100%);
     transition: .8s ease;
}

.skill-ex:hover .skill-info {
    transform: translateX(0);
}

/* contact section styling */
.bx {
    font-size: 3.5rem;
    color: var(--tan);
}
  
.adjust {
    border-radius: 25px;
    padding: 5px;
}

/* id Selectors */

/* display styling for first section */
#who {
    padding: 0 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#who img:hover,.skill-container .skill-ex:hover {
    /* scale up and glowing border affect for hero image and experience section tabs*/
    border-color: var(--mustard);
    transform: scale(1.1);
    transition: .8s ease;
    box-shadow: inset 0px 0px 8px var(--mustard), 0 0 25px var(--mustard);
}


/* Media query */

/* using a desktop-first approach, use `max-width` values going from wide -> narrow for a responsive design */
@media screen and (max-width: 992px) {
	/* on tablets, set cards to be 50% of the width */
	nav a, section {
		flex-basis: 50%;
	}
}

@media screen and (max-width: 768px) {
	/* on mobile devices, set cards to be 100% of the width */
    nav a, section {
		flex-basis: 100%;
		/* margin-bottom: 1.5rem; */
	}
    .skill-container {
        flex-grow: 1 50%;
    }
    
}

 /* sets the the full height of the viewport for each section with orientation */
 section {
    min-height: 100vh;
    padding: 10rem 2% 2rem;
}

